<div id="<%= dom_id article %>">
  <p>
    <strong>Category:</strong>
    <%= article.category_id %>
  </p>

  <p>
    <strong>Order:</strong>
    <%= article.order_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= article.name %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= article.price %>
  </p>

</div>
