<div id="<%= dom_id order_article %>">

  <p>
    <strong>Article:</strong>
    <%= order_article.article_id %>
  </p>

  <p>
    <strong>Order:</strong>
    <%= order_article.order_id %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= order_article.amount %>
  </p>

  <p>
    <strong>Total Price:</strong>
    <%= order_article.total_price %>
  </p>
</div>
