<p style="color: green"><%= notice %></p>

<%= render @order_article %>

<div>
  <%= link_to "Edit this order article", edit_order_article_path(@order_article) %> |
  <%= link_to "Back to order articles", order_articles_path %>

  <%= button_to "Destroy this order article", @order_article, method: :delete %>
</div>
